.dx-card {
  padding: 10px;
}

.pageHeading {
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 5px;
}

.titleLeft {
  float: left;
}

.titleRight {
  float: right;
}

.clearFloat {
  clear: both;
}

.newOrderButton {
  margin-left: 10px;
}

.newRevButton {
  margin-left: 10px;
}

.status {
  margin-left: 20px;
  font-size: 14px;
}
