// Colors
$theme-color: #FF5722;

$text-color-default: #333333;
$text-color-aux: #8899a8;
$text-color-disabled: #a8a8a8;
$text-color-readonly: #8899a8;
$text-color-label: #8899a8;
$text-color-type-default: #ee4729;

$bg-color-main: #353839;
$bg-color-readonly: #f7f7f7;

$border-color-outline: #afb6bb;
$border-color-default: #dee1e3;
