.item {
  padding-left: 10px;
  font-size: 16px;
}

.contentLeft {
  float: left;
}

.contentRight {
  float: right;
}

.status {
  font-size: 12px;
  margin-left: 10px;
}

.company {
  font-size: 12px;
  padding-left: 10px;
}

.project {
  font-size: 12px;
  margin-left: 10px;
}

#detailsButton {
  padding-top: 4px;
}
