.main-container {
  padding: 10px;
  background-color: #ffffff;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  min-height: 450px;
}

.dx-card {
  padding: 10px;
}

.page-heading {
  margin-bottom: 10px;
  padding: 5px;
}
